.SvaJela{
    margin-left: 10px;
}

.ikonica{
    margin-right: 3px;
}

.SvaJela:hover {
    color: white; 
  }

  .Kontakt:hover {
    color: white;
  }

  .navBar .titl:hover,
    .navBar .ikonica:hover {
      color: white;
    }

    .navBar .titl:hover + .ikonica,
    .navBar .ikonica:hover + .titl {
      color: white;
    }

    .navBar {
        display: flex;
        align-items: center;
        height: 50px;
        background-color: #FFA500;
      }
      
      .navBar a {
        display: inline-block;
        height: 100%;
        padding: 0 15px;
        text-decoration: none;
        line-height: 50px;
        color: #333;
      }

      .titl.active,
.SvaJela.active , .Kontakt.active{
  background-color: #ffb835;
}

.naziv{
    display: flex;
    align-items: center;
  
}
      
     